@model IEnumerable<WelcomeASP.Data.Entities.Trello.Column>


<partial name="Asentus/Parallax" />

<div class="row">

    @foreach (var column in Model)
    {

        <div class="col">
            <header> @Html.DisplayFor(Model => column.Title)</header>
            <ul>
                @foreach (var card in column.Cards)
                {
                <li>
                    <h4>
                        @Html.DisplayFor(Model => card.Title)</h4>
                                        <p>@Html.DisplayFor(Model => card.Body)</p>
</li>
                }
            </ul>
            <div>
                <form asp-action="CreateCard">
                    <input type="hidden" name="BoardId" value="@ViewBag.BoardId" />
                    <input type="hidden" name="ColumnId" value="@column.Id" />
                    <div class="form-group">
                        <label class="control-label"> Заголовок карточки </label>
                        <input name="Title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Тело карточки </label>
                        <input name="Body" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>

            </div>
        </div>

    }

</div>

<div class="row">
    <form asp-action="CreateColumn">
        <div class="form-group">
            <input type="hidden" name="BoardId" value="@ViewBag.BoardId"/>
            <label class="control-label"> заголовок колонки </label>
            <input name="Title" class="form-control" />
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </form>

</div>




